<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ActionEvent</servlet-name>
        <servlet-class>upeu.edu.pe.controller.ActionEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginEvent</servlet-name>
        <servlet-class>upeu.edu.pe.controller.LoginEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectEvent</servlet-name>
        <servlet-class>upeu.edu.pe.controller.RedirectEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>upeu.edu.pe.controller.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Close</servlet-name>
        <servlet-class>upeu.edu.pe.controller.Close</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionCrud</servlet-name>
        <servlet-class>upeu.edu.pe.controller.ActionCrud</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionEvent</servlet-name>
        <url-pattern>/action.evt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEvent</servlet-name>
        <url-pattern>/login.evt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectEvent</servlet-name>
        <url-pattern>/redirect.evt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard.evt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Close</servlet-name>
        <url-pattern>/close.evt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionCrud</servlet-name>
        <url-pattern>/action</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
